body {
    margin: 0;
    overflow: hidden;
}

canvas {
    display: block;
}

#messageArea {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    font-size: 24px;
    border: 2px solid #ffcc00;
    border-radius: 10px;
    display: none;
}

#messageArea.success {
    background-color: #28a745;
    border-color: #218838;
}

label {
    color: #fff;
    margin-right: 10px;
}

select {
    padding: 5px;
    font-size: 16px;
}

/* New styles for positioning the dropdown container */
#backgroundSelectContainer {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000; /* Ensure it's above other elements */
    color: #fff; /* Set the text color for better visibility */
}

#navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}
